.feature-area {
	background: url(../images/pexels-photo-3285196.jpeg) no-repeat;
	background-size: cover;
	height: 100vh;
}
.feature-area {
	display: flex;
	align-items: center;
	font-family: sans-serif;
}
/* feature-area style end hare*/
.sec-icon {
	font-size: 50px;
}
.shadow {
	margin: auto;
}
.box-1 {
	margin-top: -30px;
}
/*sec-1 style end hare*/
.sec-2 {
	background: #F2F2F2;
}
.sec-cnt {
	height: 100vh;
	display: flex;
	align-items: center;
}
.sec-2-item2 {
	font-family: sans-serif;
	f
}
.sec-2-item2 img {
	width: 290px;
	height: 400px;
}
/*  section 2 end hare*/
.section-3-cnt p {
	font-size: 19px;
}
.sec-3-item1 {
	border-radius: 20px;
}
.sec-3-item1 img {
	border: 6px solid #fff;
	height: 170px;
	width: 170px;
	margin-top: -60px;
}
.btn-primary {
	border-radius: 20px;
}
/* section 3 style end hare*/
.about-us {
	background: #F2F2F2;
}
.about-nav {
	background: #2735EA;
	padding: 5px;
}
/*section about-us style end hare*/
.testimonia1 {
	background: #F2F2F2;
	height: 120vh;
}
.testimonia1 i {
	padding: 20px;
	background: #2735E9;
	font-size: 50px;
	color: #fff;
}
.testimonia1 p {
	font-size: 30px;
	
	font-family: 'Roboto Mono', monospace;
	padding-right: 20px;
}
/*section 4 style end hare*/
.team1 {
	border-radius: 20px;
}
.team-content p {
	font-family: sans-serif;
}
.social-icon i {
	font-size: 25px;
	margin-right: 20px;
}
.fb i {
	font-size: 30px;
}
/*secton 5 style end hare*/
.section-6 {
	background: #F2F2F2;
}
/*section-6 style end hare*/
.location-area span {
	height: 7px;
	width: 200px;
	background: #2735EA;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
/*section-7 style end hare*/
.section-8 {
	background: url(../images/pexels-photo-2422294.jpeg) no-repeat;
	background-size: cover;
	height: 100vh;
}
.contact-us {
	margin-top: 20px;
}
.contact-form {
	margin-left: auto;
	margin-right: auto;
}